<div class="container">
  <div class="row">
      <h1>Iniciar sesión</h1>
      <hr>
  </div>
  <form (ngSubmit)="login()" id="loginForm" #form="ngForm">
      <div class="mb-3">
          <input
              type="text"
              [(ngModel)]="usuario.email"
              name="email"
              placeholder="Usuario"
              required
              class="form-control"
          >
          <div *ngIf="form.controls['email']?.invalid && (form.controls['email']?.touched || form.controls['email']?.dirty)" class="text-danger">
              El usuario es requerido.
          </div>
      </div>

      <div class="mb-3">
          <input
              type="password"
              [(ngModel)]="usuario.password"
              name="password"
              placeholder="Password"
              required
              class="form-control"
          >
          <div *ngIf="form.controls['password']?.invalid && (form.controls['password']?.touched || form.controls['password']?.dirty)" class="text-danger">
              La contraseña es requerida.
          </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="form.invalid">Iniciar sesión</button>
  </form>
</div>
