<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="https://previews.123rf.com/images/xenial/xenial2106/xenial210600096/170794882-vector-kawaii-anime-emoji-iconos-aislados-conjunto-colecci%C3%B3n-de-logotipos-de-dibujos-animados.jpg"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
<router-outlet></router-outlet>
